.nav-icon-1{
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-1 span{
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    position: absolute;
  
  }
  .nav-icon-1:hover span{
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1 span:nth-child(1){
    background-color: white;
    left: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(2){
    background-color: white;
    left: 12px;
    top: 0;
  }
  .nav-icon-1 span:nth-child(3){
    background-color: white;
    right: 0;
    top: 0;
  }
  .nav-icon-1 span:nth-child(4){
    background-color: white;
    left: 0;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(5){
    background-color: white;
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(6){
    background-color: white;
    right: 0px;
    top: 12px;
  }
  .nav-icon-1 span:nth-child(7){
    background-color: white;
    left: 0px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(8){
    background-color: white;
    position: absolute;
    left: 12px;
    bottom: 0px;
  }
  .nav-icon-1 span:nth-child(9){
    background-color: white;
    right: 0px;
    bottom: 0px;
  }
  .nav-icon-1.open{
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span{
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-1.open span:nth-child(2) {
    left: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(4) {
    left: 6px;
    top: 18px;
  }
  .nav-icon-1.open span:nth-child(6) {
    right: 6px;
    top: 6px;
  }
  .nav-icon-1.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
  }
.ham{
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top:80%;
    cursor: pointer;
    
}
  .navbarc{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width:100%;
    bottom:100%;
    z-index: 1;
    display: none;
 
  }

  .navbarb{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c027d;
    border-radius: 50px;
    bottom:100%;
    height:auto;
    gap:20px;
    padding:10vh;
  }
  .hamcont{
    position: fixed;
    display: flex;
    left:5%;
    bottom:5%;
    background: #BD00FF;
    border-radius: 100%;
  }

  