
.headerh{
    position: absolute;
    top:0%;
    height:15vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.logoc{
    position: absolute;
    top:25%;
    left:4%;


}

.logo{
    position: relative;
    top:0%;
}
.navigation{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    gap:20px;
    top:20%;
}
.connectbut{
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: row;
    right:0%;
    width:25%;
}
.hambar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top:10%;
}