.home{
    position: absolute;
    background: linear-gradient(46deg, #EA00FF 0%, #B800F8 0.01%, #E0A9F4 100%);
    height:auto;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bodyc{
    position: relative;
    width:90%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:2vh;

}
.homec{
    position: relative;
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.header{
    position: relative;
    height:15vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.logoc{
    position: absolute;
    top:10%;
    left:4%;
    background: #B800F8;
    box-shadow: 5px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;
    height:80px;
    width:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    animation-name: change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes change {
    0%{   box-shadow: 5px 4px 10px 2px #BD00FF, 2px 5px 10px 1px #FFF inset;}
    100%{ box-shadow: 5px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;}
}
.logon{
    position: absolute;
    left:150px;
    top:25%;
    font-size: 32px;;
    color: #FFF;
    -webkit-text-stroke-width: 2px;
}
.logo{
    position: relative;
    top:0%;
    height:60px;
    width:60px;
}
.nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    right: 5%;
    gap:20px;
    top:20%;
}
.buttont{
    border-radius: 50px;
background: #B800F8;
box-shadow: 0px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;
border: none;
color:white;
font-size: 20px;
padding: 10px 15px;
-webkit-text-stroke-width: 1px;
}
.buttont:hover{
    box-shadow: 0px 4px 10px 2px #BD00FF, 2px 5px 10px 1px #FFF inset;
    cursor: pointer;
}
.buttonr{
    border-radius: 50px;
background: #B800F8;
box-shadow: 0px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;
border: none;
color:white;
font-size: 24px;
padding: 10px 15px;
-webkit-text-stroke-width: 1px;
}
.buttonr:hover{
    box-shadow: 0px 4px 10px 2px #BD00FF, 2px 5px 10px 1px #FFF inset;
    cursor: pointer;
}
.onew{
    position: relative;
    color: white;
    font-size: 46px;
    letter-spacing: 3px;
    -webkit-text-stroke: 4px;
    text-align: center;
    padding-bottom: 5vh;
}
.boxc{
    position: relative;
    top:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:25px;
    padding:10vh;
}
.box{
    position: relative;
    height:250px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #FFF;
background: rgba(217, 217, 217, 0.00);
box-shadow: 0px 4px 10px 5px #1B0024;
}
.arrow{
    position: relative;

}
.arrow Image{
    width: 100px;
}
.bpara{
    position: relative;
    color: white;
    font-size: 24px;
    -webkit-text-stroke: 1px;
    top:10%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imag{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imag Image{
    width:90px;
}
.homeh2{
    position: relative;
    font-size: 24px;
    width:70%;
    height:auto;
    color:rgb(186, 189, 190);
    -webkit-text-stroke: 1px;
    text-align: center;
    padding:10px;
}
.buttonth{
    position: relative;
    top:20%;
    display: inline-block;
    align-items: center;
    width:100px;
    height:5px;
    color:#FFF;
    -webkit-text-stroke-width: 1px;
    border-radius: 20px;

}
.buttonth::after{
    position: relative;
    display: block;
    content:' ';
    width:0%;
    height: 4px;
    background: #fff;
    border-radius:20px;
    transition: width 0.3s ease;
}
.buttonth:hover::after{
    width:100%;
}
/*********************************** 950 px *********************************************/
@media (max-width: 950px) {
    .logon{
        display: none;
    }
    .boxc{
        flex-direction: column;
    }
    .arrow{
        transform: rotate(90deg);
        padding:30px;
    }
}
/*********************************** 768 px *********************************************/
@media (max-width: 768px) {
.nav{
    gap:5px;
}
.onew{
    font-size: 40px;
}
}
/*********************************** 568 px *********************************************/
@media (max-width: 568px) {
    .nav{
        gap:0px;
    }
    .onew{
        font-size: 36px;
    }
}
/*********************************** 450 px *********************************************/
@media (max-width: 450px) {
    .onew{
        font-size: 24px;
    }
}