.register{
    position: absolute;
    background: white;
    width:100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerr{
    position: relative;
    height:10vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.registerc{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:5vh;
    text-align: center;
}
.dname{
    position: relative;
    font-size: 46px;
    font-weight: 900;
    color:  #B800F8;
}
.data{
    font-size: 24px;
    font-weight: 500;
}
.mintf{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    align-items: center;
}
.yhead{
    position:relative ;
    font-size: 20px;
    font-weight: 900;
    padding: 1vh;
}
.button-18 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: grey;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-18:hover {
    background: #F6F9FE;
    color: #BD00FF;
  }
  
  .button-18:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-18:focus {
    outline: none;
    border: 2px solid #BD00FF;
  }
  
  .button-18:not(:disabled) {
    box-shadow: #BD00FF 0 1px 3px 0, #BD00FF 0 4px 8px 3px;
  }
  
  .button-18:not(:disabled):hover {
    box-shadow: #BD00FF 0 2px 3px 0, #BD00FF 0 6px 10px 4px;
  }
  
  .button-18:not(:disabled):focus {
    box-shadow: #BD00FF 0 1px 3px 0, #BD00FF 0 4px 8px 3px;
  }
  
  .button-18:not(:disabled):active {
    box-shadow: #BD00FF 0 4px 4px 0, #BD00FF 0 8px 12px 6px;
  }
  
  .button-18:disabled {
    box-shadow: #BD00FF 0 1px 3px 0, #BD00FF 0 4px 8px 3px;
  }

  .yin{
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    z-index: 0;
    width:50px;
  }
  .yinc{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2vh 2vh;
    gap:20px;
  }
  .imgc{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding: 3vh;
    padding-bottom: 10vh;
    gap:20px;
  }
  .dropimgc{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    background: #ee67c5b6;
    font-size: 18px;
    text-align: center;
    padding: 5vh;
    width:50%;
    top:5vh;
    border-radius: 50px;
    outline-color: #B800F8;
    outline-offset: 5px;
    outline-style: dashed;
    outline-width: 3px;
  }
  .dropimg{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #fff;
  }