.Register{
    position: absolute;
    background:white;
    min-height:100vh;
    width:100vw;
    overflow: hidden;
}
.Registerc{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height:100%;
    width:100%;
    padding:5vh;
    flex-direction: column;
    align-items: center;
}

.headerr{
    position: relative;
    height:10vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttont{
    border-radius: 50px;
background: #B800F8;
box-shadow: 0px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;
border: none;
color:white;
font-size: 20px;
padding: 10px 15px;
}
.buttont:hover{
    box-shadow: 0px 4px 10px 2px #BD00FF, 2px 5px 10px 1px #FFF inset;
    cursor: pointer;
}
.connectb{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    border-radius: 50px;
background: #B800F8;
box-shadow: 0px 4px 10px 2px #BD00FF, 2px -5px 10px 1px #FFF inset;
border: none;
color:white;
font-size: 20px;
padding: 10px 10px;
width:10vw;
}
.connectb:hover{
    box-shadow: 0px 4px 10px 2px #BD00FF, 2px 5px 10px 1px #FFF inset;
    cursor: pointer;
}

.buttonh{
    position: relative;
    top:20%;
    display: inline-block;
    align-items: center;
    width:100px;
    color: white;
    height:5px;
    border-radius: 20px;
    -webkit-text-stroke-width: 1px;

}
.buttonh::after{
    position: relative;
    display: block;
    content:' ';
    width:0%;
    height: 4px;
    background: white;
    border-radius:20px;
    transition: width 0.3s ease;
}
.buttonh:hover::after{
    width:100%;
}

#cwb{
    border-radius: 50px;
background: #1d6ff2;
box-shadow: 0px 4px 10px 2px #070707, 2px -5px 10px 1px #FFF inset;
border: none;
color:white;
font-size: 20px;
padding: 10px 15px;
}
#cwb:hover{
    box-shadow: 0px 4px 10px 2px #000000, 2px 5px 10px 1px #FFF inset;
    cursor: pointer;
}


.rbody{
    position: relative;
    top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.field{
    position: relative;
    padding: 5vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2vh;
}
.rsearch{
    position: relative;
    width:50%;
    font-size: 40px;
    border:5px solid #B800F8;
    border-radius: 20px 20px ;
    padding:10px 10px;
}
.data{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dname{
    position: relative;
    font-weight: 900;
    font-size: 40px;
    color:#B800F8;
}
.yearc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    gap:10px;
    padding: 2vh;
}
.yinc{
    position: relative;
    display: flex;
    flex-direction: row;
    width:auto;
    gap:10px;
    padding: 5vh;
}
.yin{
    position: relative;
    font-size: 32px;
    width:auto;
    text-align: center;
    border: none;
    font-weight: 900;
}
.yhead{
    position: relative;
    font-size: 20px;
    font-weight: 900;
}
.mintf{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
    padding:5vh;
    gap:20px;
}
.imgc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:20px;
}
.dropimgc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:25%;
    height:auto;
    padding:5vh;
    background-color: #d572f67f;
    border-radius: 50px;
    cursor: pointer;
}
.dropimg{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    height:auto;
}

previewb{
    display: none;
}
registerb{
    display: none;
}
.button-18 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 10px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 280ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-18:hover {
    background: #F6F9FE;
    color: #BD00FF;
  }
  
  .button-18:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 68 / 30%), 0 8px 12px 6px rgb(60 64 68 / 15%);
    outline: none;
  }
  
  .button-18:focus {
    outline: none;
    border: 2px solid #BD00FF;
  }
  
  .button-18:not(:disabled) {
    box-shadow: #B800F8 0 1px 3px 0, #B800F8 0 4px 8px 3px;
  }
  
  .button-18:not(:disabled):hover {
    box-shadow: #B800F8 0 2px 3px 0, #B800F8 0 6px 10px 4px;
  }
  
  .button-18:not(:disabled):focus {
    box-shadow: #B800F8 0 1px 3px 0, #B800F8 0 4px 8px 3px;
  }
  
  .button-18:not(:disabled):active {
    box-shadow: #B800F8 0 4px 4px 0, #B800F8 0 8px 12px 6px;
  }
  
  .button-18:disabled {
    box-shadow: #B800F8 0 1px 3px 0, #B800F8 0 4px 8px 3px;
  }

  .datareg{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:40vh;
    align-items: center;
    justify-content: center;
    width:90%;
    height:90%;
    color:red;
    font-size: 18px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
}